<h1 style="color: blue;">Hello</h1>
<h1 style="color: green;">Hello</h1>
<p style="color: red;">Hello</p>
<p style="color: aqua;">Hello</p>

<b>Hi</b>
<i>Hello</i>
<small>Hiiii</small>
<mark>This is a text</mark>
<sup>2</sup>
<sub>4</sub>
<ins>I am narges</ins>
<del>hehhehh</del>

<hr>

<a href="www.google.com" target="_blank" title="this is a Link">Link</a>

<audio src="ًsong.mp3" controls muted autoplay loop></audio>

<video src="" controls muted autoplay loop>This is a Video</video>

<!-- or -->
<br>
<video controls>
    <source src="sea.mp4">
    <source src="sea.webM">
</video>


<!-- <section>
    <div class="item-1">
        <form>
            <label>Email</label>
            <input type="email" [formControl]="EmailCtrl">

            <label>Name</label>
            <input type="text" [formControl]="NameCtrl">

            <button (click)="register()">Register</button>
            <button (click)="getAll()">GetAll</button>

            {{appUser?.email}}
            {{appUser?.name}}

            @for (member of members; track $index) {
            <ul>
                <li>{{member.email}}</li>
                <li>{{member.name}}</li>
            </ul>

            }
        </form>
    </div>
</section> -->