<div class="d1"></div>



<!-- <section>
    <div class="container">
        <div class="heading">Login</div>
        <form action="" class="form">
            <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
            <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
            <input class="login-button" type="submit" value="Login">
        </form>
    </div>
</section> -->





<!-- <b>Hi</b>
<i>Hello</i>
<small>Hiiii</small>
<mark>This is a text</mark>
<sup>2</sup>
<sub>4</sub>
<ins>I am narges</ins>
<del>hehhehh</del>

<hr>

<a href="www.google.com" target="_blank" title="this is a Link">Link</a>

<audio src="ًsong.mp3" controls muted autoplay loop></audio>

<video src="" controls muted autoplay loop>This is a Video</video>

<br>
<video controls>
    <source src="sea.mp4">
    <source src="sea.webM">
</video>  -->